* {
    margin: 0px;
    padding: 0px;
} 
header {
    background: url(asset/background4.jpg)fixed center;
    background-image: url(asset/background4.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
    
}
.navbar-nav {
    margin-top: 50px;
    position: fixed;
    background: rgb(73, 41, 3);
    
    font-weight: inherit;
    color: rgb(77, 76, 76);
    margin-top: 100px;
    border-radius: 10px;
}
    .navbar-nav a {
    color:white
    }
.navbar-nav a:hover {
    color: red;
}
.border1 {
    background-color: rgb(247, 160, 0);
    background-image: url(asset/background3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.b1 { 
    background-color: transparent;
    border-radius: 50px;
}
    
.card {
    margin:10px;
}
div h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(163, 76, 4);  
    background-color: bisque;
    


    }
    
.border2 {
background-color: rgb(122, 119, 119);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
border-radius: 10px;
}



.group {
    background-color: rgb(73, 41, 3);
}

.carousel1{
    background-color:rgb(73, 41, 3) ;
   
}