@import url(https://fonts.googleapis.com/css2?family=Mogra&display=swap);


* {
    margin: 0px;
    padding: 0px;
} 
header {
    background: url(asset/background4.jpg)fixed center;
    background-image: url(asset/background4.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    
    
    
}
.navbar-nav {
    margin-top: 50px;
    position: fixed;
    background: rgb(73, 41, 3);
    
    font-weight: inherit;
    color: rgb(77, 76, 76);
    margin-top: 100px;
    border-radius: 10px;
}
    .navbar-nav a {
    color:white ;
    }
.navbar-nav a:hover {
    color: red;
}
.border1 {
    background-color: rgb(235, 190, 108);
    background-image: url(asset/background3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.border1 .card {
    background-color: rgb(252, 234, 186);
}
.border1 .btn {
    color: rgb(20, 20, 20);
    background-color: rgb(255, 145, 0);
   
}
.border1 .btn:hover {
    color: rgb(236, 155, 3) ;
    background-color: rgb(121, 57, 5);
}


.b1 { 
    background-color: transparent;
    border-radius: 50px;
}
    
.card {
    margin:10px;
}
div h1 {
    font-family: 'Mogra', cursive, Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(163, 76, 4);  
    background-color: rgb(211, 165, 108);
    border-style:ridge ;
    border-radius: 20px;
    padding-top: 5px;
    

 }
    
.border2 {
background-color: rgb(122, 119, 119);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.group {
    background-color: rgb(73, 41, 3);
}

.carousel1{
    background-color:rgb(73, 41, 3) ;
}

.spanding {
    background-color: rgb(73, 41, 3) ;;
}

.aboutus {
text-align: center;
background-color: rgb(235, 208, 178);
border: 30px solid rgb(182, 139, 91);
width: 100vh; 
margin: auto;
padding: 20px 20px;
border-radius: 20px;
border-style:ridge;

}

.logo2 {
    position:absolute; 
    left:1300px;
    padding-top :110px ;
    padding-left: 30px;
}

.backto {
    padding-left: 120px;
}